body {
    margin: 0px; 
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

.subtitle {
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11199E;
}

a {
    color: #11999E;
}

p{
    line-height: 2;
}

.perfil {
    height: 300px;
    width: 300px;
}

.intro {
    width: 30%;
    margin: auto;
}

/*.top-top {
    background-color: grey;
    height: 300px;
    width: 300px;
}*/

.top-container {
    background-color: #ccf2f4;
    padding-top: 100px;
    position: relative;
    line-height: 4rem;
    /* border: solid 10px;  O border visa os 4 cantos, resultando em 20px, no caso, laterais*/
    /* padding: 20px; The same thing happens with the padding, both laterals, in this case, will add 40px */
}

.skill-row {
    margin: 100px auto 100px;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: rgb(172, 170, 170);
    width: 7%;
    margin: 100px auto;
}

.BUTTON_SNA {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 13px;
    background-color: #68cccf;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 30px auto 70px auto;
 }
 

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    height: 100px;
    padding-top: 40px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-link {
    font-weight: bold;
}

.footer-footer {
    color: white;
}